<h3>Interaction</h3>
<div class="row">
  <div class="col-sm-12">
    <!-- <svg width="100" height="50" viewBox="0 0 300 125" preserveAspectRatio="none">
      <path d="M286,113c0,0-68.8,0-136,0c-78.2,0-137,0-137,0s0-15.802,0-50.5C13,33.999,13,12,13,12s59,0,137,0c85,0,136,0,136,0s0,17.598,0,52C286,96.398,286,113,286,113z"/>
    </svg> -->


    <div id="button">

      <svg viewBox="0 0 365 85" preserveAspectRatio="none">
        <defs>
          <clipPath id="clip-diamond-demo" >
            <path d="M10,0 h345 a10,10 0 0 1 10,10 v60 a10,10 0 0 1 -10,10 h-345 a10,10 0 0 1 -10,-10 v-60 a10,10 0 0 1 10,-10 z" />
          </clipPath>

          <filter id="inset-shadow" x="-50%" y="-50%" width="365" height="85">
            <feFlood fill-color="black"></feFlood>
            <feComposite in2="SourceAlpha" operator="out"></feComposite>
            <feGaussianBlur stdDeviation="4"></feGaussianBlur>
            <feOffset dx="0" dy="0" result="offsetblur"></feOffset>
            <feFlood flood-color="black" result="color"></feFlood>
            <feComposite in2="offsetblur" operator="in"></feComposite>
            <feComposite in2="SourceAlpha" operator="in"></feComposite>
            <feMerge>
              <feMergeNode in="SourceGraphic"></feMergeNode>
              <feMergeNode></feMergeNode>
            </feMerge>
          </filter>
        </defs>
        <g id="outer" clip-path="url(#clip-diamond-demo)" filter="url(#inset-shadow)">
          <g id="baseLayer">
            <rect width="365" height="85" fill="#428a3e" />
            <text text-anchor="middle" x="180" y="50" style="font-family: Verdana; font-size: 28px; fill: #ffffff;">Commit</text>
          </g>
          <g id="topLayer" transform="translate(-284,0)" clip-path="url(#clip-diamond-demo)">
            <rect id="hover" width="365" height="85" fill="#5cb65c" />
            <text id="commitedLabel" text-anchor="middle" x="180" y="50" style="opacity: 0; font-family: Verdana; font-size: 28px; fill: #ffffff;">Commited</text>
            <path transform="translate(317, 28) scale(0.4)" fill="#fff" d="M 0,0 L 19,0 L 50,30 L 19,60 L 0,60 L 31,30 z"></path>
          </g>
        </g>
      </svg>
    </div>

    <img src="https://cdn-images-1.medium.com/max/1600/1*U7-kEh5rvHXD2TVIgdugWw.jpeg">
  </div>
</div>

<style type="text/css">
  /* Referencing an SVG clipPath */
  #button {
    width: 385px;
    height: 85px;
  }

  #hover{
    cursor: pointer;
  }

  .active{
    transition: 1s ease all;
  }


</style>
